@{
    ViewData["Title"] = "FAQ";
}

<section>
    <div class="">
        <h2>Frequenly Asked Questions</h2><hr />
    </div>
    <div class=" accordion" id="accordion-faq">
        <div class="accordion-item">
            <h2 ckass="accordion-header" id="headOne">
                <button class="accordion-button shadow-none"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapseOne"
                        aria-expanded="true"
                        aria-controls="collapseOne">
                    I don`t know what service i need - can i get in contact
                </button>               
            </h2>
            <div id="collapseOne"
                 class="accordion-collapse collapse"
                 aria-labelledby="headingOne"
                 data-bs-parent="#accordion-faq">
                <div class="accordion-body">
                    <p>If you need support during your travels, please contact us on 0800 928 999</p>
                    <br />
                    <p>For mental illness please contact on lifesec@lifesec.co.nz</p>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 ckass="accordion-header" id="headTwo">
                <button class="accordion-button shadow-none"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo"
                        aria-expanded="true"
                        aria-controls="collapseTwo">
                    I wanna make a enquiry for a family member - Where do i start?
                </button>
            </h2>
            <div id="collapseTwo"
                 class="accordion-collapse collapse"
                 aria-labelledby="headingTwo"
                 data-bs-parent="#accordion-faq">
                <div class="accordion-body">
                    If you have any questions for the differents services we provide, please access our products.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 ckass="accordion-header" id="headThree">
                <button class="accordion-button shadow-none"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapseThree"
                        aria-expanded="true"
                        aria-controls="collapseThree">
                    I`m having trouble with my access - What do i do?
                </button>
            </h2>
            <div id="collapseThree"
                 class="accordion-collapse collapse"
                 aria-labelledby="headingThree"
                 data-bs-parent="#accordion-faq">
                <div class="accordion-body">
                    <p>Please send us a e-mail at lifesec@lifesec.co.nz</p>
                    <br />
                    <p>Or contact us at 0800 827 900</p>
                </div>
            </div>
        </div>
    </div>
</section>



